<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div class="big-box">
  <nav>
    <a href="/sayHi">首页</a>
    <a href="duanwen.html">短文</a>
    <a class="current-page" href="/all">日志</a>
    <a href="/greeting">问候</a>
    <a href="/pdf">简历</a>
    <a href="Ask.html">问问AI</a>
  </nav>
  <table border="1">
    <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Email</th>
      <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.name}"></td>
      <td th:text="${user.age}"></td>
      <td th:text="${user.gender}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.city}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>