<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Result</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div class="big-box">
  <nav>
    <a href="/sayHi">首页</a>
    <a href="duanwen.html">短文</a>
    <a href="/all">日志</a>
    <a href="/greeting">问候</a>
    <a href="/pdf">简历</a>
    <a class="current-page" href="Ask.html">问问AI</a>
  </nav>
<h1>Result</h1>

<ul id="resultList">
  <li th:each="choice : ${choices}" th:text="${choice}"></li>
</ul>

<script>
  fetch('/ask', { method: 'Post' })
          .then(response => response.json())
          .then(data => {
            const resultList = document.getElementById('resultList');
            data.choices.forEach(choice => {
              const listItem = document.createElement('li');
              listItem.textContent = choice.text;
              resultList.appendChild(listItem);
            });
          })
          .catch(error => console.error(error));
</script>
</div>
</body>
</html>