<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div class="big-box">
    <nav>
        <a href="/sayHi">首页</a>
        <a href="duanwen.html">短文</a>
        <a href="/all">日志</a>
        <a class="current-page" href="/greeting">问候</a>
        <a href="/pdf">简历</a>
        <a href="Ask.html">问问AI</a>
    </nav>
    <form class="form-horizontal" role="form" action="#" th:action="@{/greeting}" th:object="${user}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required>
        <br>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" th:field="*{age}" required>
        <br>
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" th:field="*{gender}" required>
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" th:field="*{email}" required>
        <br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" th:field="*{city}" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>