<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
</head>
<body>
    <form class="form-horizontal" role="form" action="#" th:action="@{/greeting}" th:object="${user}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required>
        <br>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" th:field="*{age}" required>
        <br>
        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" th:field="*{gender}" required>
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" th:field="*{email}" required>
        <br>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" th:field="*{city}" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>