<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
<div class="big-box">
    <div id="banner">
        <img src="img/banner.png" alt="">
    </div>
    <nav>
        <a class="current-page" href="/sayHi">首页</a>
        <a href="shortstory.html">短文</a>
        <a href="/all">日志</a>
        <a href="/greeting">问候</a>
        <a href="/pdf">简历</a>
        <a href="Ask.html">问问AI</a>
    </nav>
    <div id="main">
        <div id="main_left">
            <h2>About Me</h2>
            <img src="img/me.png" alt="">
            <p>
                <span>Name</span>: <span th:text="${name}"></span><br>
                <span>Gender</span>: <span th:text="${gender}"></span><br>
                <span>Hobby</span>: <span th:text="${hobby}"></span><br>
                <span>Personality</span>: <span th:text="${personality}"></span><br>
                <span>Hometown</span>: <span th:text="${hometown}"></span><br>
                <span>Major</span>: <span th:text="${major}"></span>
            </p>
        </div>
        <div id="main_right">
            <h2>Quote of the Day</h2>
            <blockquote class="quote">
                &ldquo;<span th:text="${quote}" class="quote-text"></span>&rdquo;
                <br>
                &mdash;<footer th:text="${author}" class="author"></footer>
            </blockquote>
            <img src="img/life.png" alt="">
            Inspirational quotes provided by <a href="https://zenquotes.io/" target="_blank">ZenQuotes API</a>
        </div>
    </div>
    <div id="travel">
        <h2>Travelling</h2>
        <div>
            <div id="picture">
                <img src="img/44.png" alt="">
            </div>
        </div>
    </div>

</div>
</body>

</html>
