<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<div class="big-box">
    <nav th:replace="fragments/topnav :: navbar"></nav>
    <table border="1">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Email</th>
            <th>City</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.name}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.gender}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.city}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>